@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

#drawer{
    display: flex;
    flex-direction: column;
    position: fixed;
    right:0;
    background-color:#f5f1ea;

}
#main_drawer_button_image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    width:2rem;
    height:1.5rem;

}

.drawer_button_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: transparent;
    background-color: transparent;
    outline: transparent;
    font-family: 'Open Sans Hebrew Condensed', serif;
    color: #4b5556;
    margin-right: 0.5rem;
    font-size:1rem;
}
.drawer_button_image{
    width:4rem;
}
#main_drawer_button_div_close{

    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    #drawer_background_line{
        width: 100vw;
        position: fixed;
        display: flex;
        background-color:rgba(245, 241, 234,0.9);
        height:4rem;
        justify-content: flex-end;
    }
    #drawer{
        background-color:var(--backgroundColor);
        width:var(--width);
        height:100%;
        right:0;
        box-shadow: var(--boxShadow);
    }
    #main_drawer_button_div_close{

        visibility: visible;
    }
    #main_drawer_button_div{
        visibility: var("--visibility");
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #main_drawer_button_image{
        width:2.1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right:0.2rem;
        height:1.6rem;
    }

    .drawer_button_div{
        visibility: var(--visibility);
    }

}

@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

