
.popup-content {
    width: 50vw;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#exit_button{
    font-size: 1.5rem;
    border-color: transparent;
    outline: transparent;
    width:2rem;
    top:3%;
    left:3%;
    background-color:transparent;
    z-index: 100;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .popup-content {
        width: 95vw;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


